/*global styles */
:root {
  --accent-color: #37283f;
  --accent-color-hover: #37283f85;

  --accent-color-2: #f7eaff;
  --accent-color-3: #958f9949;

  --header-height: 1.5vh 0 1.5vh 0;
  --footer-height: 4vh 0 2vh 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

/**
Styles for desktops and large screens, the default page styles.
**/

/*app container style*/
#app {
  width: 100vw;
  /* height: 90vh; */
  background-color: var(--accent-color-2);
}

/*header container style*/
.headers {
  display: flex;
  justify-content: center;
  color: var(--accent-color-2);
  padding: var(--header-height);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.986);
  width: 100vw;
}

/* custom headings */
.home {
  background-color: var(--accent-color);
}

/*footer container style*/

/*main container style*/
#main {
  display: grid;
  grid-template-columns: 10% 90%;
  background-color: var(--accent-color-2);
}

/* navigation */
#nav-bar {
  height: 90vh;
  color: var(--accent-color);
  padding: 6vh 0 0 3.5vw;
  #nav-item {
    .nav-link {
      line-height: 11vh;
      /* width: 15vw; */

      .nav-icon {
        width: 35px;
        height: 35px;
        cursor: pointer;
      }
    }
  }
}

/*content container style*/
.content {
  height: 90vh;
  padding: 6vh 0 0 6vw;
  background-color: var(--accent-color-3);
  overflow: auto;
}

/* ideas */
.idea {
  background-color: #37283fea;
  color: var(--accent-color-2);
  width: 75vw;
  padding: 3vh 1vw 3vh 2vw;
  margin-bottom: 6vh;
  border-radius: 8px;
  p {
    color: #e0d2e767;
    margin-left: 1vw;
    padding-left: 2vw;
    border-left: 2px solid #e0d2e767;
  }
}
/* default end */

/**
Styles for mobile phones and small screens, the mobile page styles.
**/
@media (max-width: 428px) {
  #main {
    display: block;
  }
  #nav-bar {
    /* position: sticky;
    top: 0;
    left: 0; */
    display: flex;
    width: 100vw;
    height: 6vh;
    padding: 1.5vh 0 1.5vh 0;
    justify-content: center;
    background-color: var(--accent-color-3);

    #nav-item {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      .nav-link {
        line-height: 0;
        .nav-icon {
          width: 30px;
          height: 30px;
          cursor: pointer;
        }
        #nav-icon-home {
          width: 25px !important;
          height: 25px !important;
        }
      }
    }
  }
  .idea {
    width: 88vw !important;
    padding: 2vh 4vw 2vh 4vw !important;
  }
  .content {
    width: 100vw;
    height: 90vh;
    padding: 6vh 0 0 6vw;
    background-color: #fff !important;
  }
}
/* mobile end*/

/**
Styles for completed and favorite, the status styles.
**/
#status {
  display: flex;
  justify-content: space-between;
}

.favorite-name {
  color: var(--accent-color-2);
  display: flex;
  align-items: center;
}

.completed-name {
  color: var(--accent-color-2);
  display: flex;
  align-items: center;
}

.favorite,
.completed {
  margin-left: 2vh;
}
/* completed and favorite end*/
